<form (ngSubmit)="addItem()">
  <input name='name' type="text" placeholder="name" [(ngModel)]="name" required>
  <input name='age' type="number" placeholder="age" [(ngModel)]="age" required>
  <input name='color' type="text" placeholder="color" [(ngModel)]="color" required>
  <button type="submit">Send</button>
</form>

<ul>
  <li *ngFor="let item of outItems">
    <span>Name: {{ item.name }} |</span>
    <span>Age: {{ item.age }} |</span>
    <span>Color: {{ item.colour }} |</span>
    <button (click)="itemToUpdate(item)">To Update</button>
    <hr>

  </li>

  <form (ngSubmit)="updateItem()">
    <input name='updateName' type="text" placeholder="name" [(ngModel)]="updateName" required>
    <input name='updateAge' type="number" placeholder="age" [(ngModel)]="updateAge" required>
    <input name='updateColor' type="text" placeholder="color" [(ngModel)]="updateColor" required>
    <button type="submit">Update</button>
  </form>
</ul>
